/.gitattributes     export-ignore
/.gitignore         export-ignore

/.idea              export-ignore
/JLexPHP.iml        export-ignore
/src                export-ignore

/examples           export-ignore